*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --hue: 255;
  --background-color-day--: rgb(calc(var(--hue) - var(--hue) + 142), 229, 255);
  --background-color-afternoon--: rgb(var(--hue), 180, 60);
  --background-color-night--: rgb(calc(var(--hue) - var(--hue) + 49), 49, 60);
  --background-box-model-color--: rgb(calc(var(--hue)),255,255);
  --box-shadow--: rgb(calc(var(--hue) - var(--hue)), 0, 0);
}
.container{
  background-color: var(--background-color-night--);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column ;
  gap: 3rem;
}
h1{
  color: var(--background-box-model-color--);
  font-size: 5rem;
  font-weight: bold;
}
p{
  font-size: 1.5rem;
  font-weight: bold;
}
.box-model{
  height: 50vh;
  width: 40vw;
  background-color: var(--background-box-model-color--);
  border-radius: 25px;
  box-shadow: 3px 1px 8px 2px var(--box-shadow--); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1.5rem;
}
img{
 background-image: "./day.jpg";
 border-radius: 50%;
 width: 20vw;
 height: 35vh;
}
footer{
  color: var(--background-box-model-color--);
  font-size: 1.5rem;
}
