*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  background-color: hsl(160, 36%, 56%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
h1,p{
  font-weight: bold;
  color: white;
}
.content{
  width: 35rem;
  height: 35rem;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding: 10px;

  border: 2px;
  border-radius: 15px;
}
fieldset{
  border: none;
}
input{
  border-radius: 25rem;
  width: 8rem;
  height: 2rem;
}
label{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
button{
  cursor: pointer;

  width: 8rem;
  height: 2rem;

  border: none;
  border-radius: 25rem;

  background-image: linear-gradient(to right, hsl(160, 36%, 56%), hsl(100, 80%, 60%));
  opacity: .8;

  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
button:hover{
  opacity: 1;
}
select:disabled{
  width: 18rem;
  height: 25rem;
  border-radius: 1.2rem;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1.1rem;
  font-size: 1.2rem;
}
select{
  width: 18rem;
  height: 25rem;
  border-radius: 1.2rem;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1.1rem;
  font-size: 1.2rem;
}
